[submodule ".registry"]
	path = .registry
	url = https://github.com/zhizuio/zhizuio.r-universe.dev
	branch = HEAD
[submodule "moewishart"]
	path = moewishart
	url = https://github.com/zhizuio/moewishart
